<h2 class="page-header">
    {{ Nombre }}
</h2>

<a href="#/" class="btn btn-default btn-block">Volver</a>

<dl>
    <dt>Nombre</dt>
    <dd>{{empleado.Nombre}}</dd>
    <dt>Apellido</dt>
    <dd>{{empleado.Apellido }}</dd>
    <dt>Sexo</dt>
      <dd ng-if="empleado.Sexo == 1">Hombre</dd>
      <dd ng-if="empleado.Sexo == 2">Mujer</dd>
    <dt>Sueldo</dt>
    <dd>{{empleado.Sueldo }}</dd>
    <dt>Profesion</dt>
    <dd>{{empleado.Profesion }}</dd>
    <dt>Fecha Nacimiento</dt>
    <dd>{{empleado.FechaNacimiento }}</dd>
    <dt>Fecha Registro</dt>
    <dd>{{empleado.FechaRegistro }}</dd>
</dl>
